.Box {
	background: #9b59b6;
	height: 200px;
	width: 200px;
	line-height: 200px;
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	border-radius: 20px;
}
.Animated {
	transition-property: background, border-radius;
	transition-duration: 5s, 5s;
}

.Box:hover {
	background: #e74c3c;
	transform-origin: left top;
	transform: scale(2);
	border-radius: 50%;
	/*opacity: 0.5;*/
}

